.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.play {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #232931;
  background-color: #4ECCA3;
  height: 80px;
  width: 150px;
  border-radius: 20px;
}

.winner {
  text-align: center;
  display: inline-block;
  margin: 3rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

.log {
  text-align: left;
  display: inline-block;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: .8rem;
  color: #4ECCA3;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 3rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
