html {
    background-color: #9EB384;
    color: #000000;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

body {
    overflow: scroll;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    font-family: "PT Sans Narrow", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    
}

.nav-container {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
}

.nav {
    background-color: #435334;
    color: #9EB384;
    font-size: 3rem;
    font-weight: 400;
    vertical-align: middle;
}

.foot-container {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    justify-content: center;
}

.left {
    text-align: center;
    width: 20%; 
}

.center {
    text-align: center;
    width: 60%;
}

.right {
    text-align: center;
    width: 20%;
}

.menu {
    font-size: 2rem;
}

.menu > a {
    color: #FAF1E4;
    padding: 0rem 1.5rem;
}

.icons > a > img {
    width: 1.8rem;
}

.content-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.top_spacer {
    height: 10vh;
}

.headline {
    font-size: 2rem;
}

.subhead{
    font-size: 1.5rem;
}

.main {
    font-size: 1.2rem;
}

.side {
    font-size: 1rem;
    background-color: #CEDEBD;
    
}

.disclaimer {
    font-size: 1rem;
    font-family: "PT Sans Narrow", sans-serif;
}

footer > p {
    width: 100%;
}

@media (max-width: 1440px) {
       
    .nav-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    
    .left, .center {
        text-align: center;
        width: 100%;
    }
        
    .right {
        text-align: center; 
        padding-right: 0px;
        width: 100%;       
    }

    .menu > a {
        padding: 0px 0.6rem;
    }

    .content {
        display: grid;
        grid-template-columns: 2.5% 95% 2.5%;
    }

    .top_spacer {
        height: 20vh;
    }

    .icons > a > img {
        width: 2.5rem;
        padding: 0px 1rem;
    }
    
    @media screen and (orientation: landscape) {
        .nav-container {
            display: flex;
            flex-direction: column;
            position: fixed;
            height: 100%;
            width: 15rem;
            align-items: left;
            font-family: "Bebas Neue", sans-serif;
            padding: 0px;
        }

        .nav {
            background-color: #435334;
            color: #9EB384;
            font-size: 2rem;
            font-weight: 300;
            vertical-align: top;
        }

        .left {
            text-align: center;
        }
        
        .center {
            text-align: center;
        }
        
        .right {
            text-align: center;
        }

        .left-spacer {
            width: 20rem;
        }

        .content {
            display: grid;
            grid-template-columns: 20rem 95% 2.5%;
        }
    }

}  
  


